@font-face {
  font-family: 'Inconsolata';
  src: url("https://fonts.googleapis.com/css?family=Inconsolata:400,700")
}

body {
  font-family: 'Inconsolata', monospace !important;
}

#post-list h2 {
  font-family: 'Inconsolata', monospace;
  font-size: 0.75em;
}

.profile h2 {
  font-family: 'Inconsolata', monospace;
  font-size: 1.0em;
}

#post-list a {
  font-family: 'Inconsolata', monospace;
}

#post-list .dates {
  font-family: 'Inconsolata', monospace;
}

img.hugo-logo {
  width: 25%;
}

#wrapper {
  max-width: 50%;
}

.profile #avatar {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile #wrapper {
  padding: 60px 40px 0px;
  max-width: 600px;
  margin: 0 auto;
}

/* Table of content */

#toc {
  line-height: 1em;
  font-size: .7em;
  word-wrap: break-word;
  padding: 8px;
  padding-left: 16px;
  padding-bottom: 14px;
  margin: 0 0 25px 0;
  display: block;
  color: #808080;
  background: #fff;
  border: none;
  box-shadow: inset 0 0 0 1px #E4EBF2;
  border-radius: 4px;
  overflow: hidden;
  font-family: 'Menlo', 'Monaco', Courier, monospace;
}

#TableOfContents {
  margin: 1em 0 0 0;
  overflow-x: auto;
  word-wrap: normal;
  word-break: break-all;
  white-space: nowrap;
}

#TableOfContents ul {
  list-style-type: none;
  margin: 0;
  padding: 0 .5em;
}

#TableOfContents ul li {
  list-style-type: none;
  line-height: 1.7em;
}

#TableOfContents>ul {
  padding: 0;
}

#TableOfContents>ul>li>ul {
  padding: 0;
}

#TableOfContents a code {
  font-family: Menlo, Monaco, Courier;
  background-color: #fff;
  font-size: 11px;
  padding: 2px 3px;
  font-weight: 100;
}

nav.main-nav a {
  color: #196FD2;
}

/* Syntax highlight reset */

pre code {
  font-size: 11px;
  word-wrap: break-word;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  padding: 16px;
  padding-bottom: 14px;
  display: block;
  border: 1px dotted #cdd4da;
  border-radius: 4px;
  overflow: auto;
}

code {
  font-size: 11px;
  font-weight: 100;
  padding: 4px;
  border: none;
  border-radius: 4px;
  overflow: scroll;
  font-family: 'Menlo', 'Monaco', Courier, monospace;
}

/* Dark Mode */

html {
  --purple-text: #bd93f9;
  --off-white-text: #cdd4da;
  --dark-theme-bg: #282a36;
  --white: #fff;
}

.theme-dark,
nav.theme-dark {
  background: var(--dark-theme-bg);
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-text-stroke: 1px transparent;
}

nav.main-nav a,
p a,
.post h1,
.post h2 {
  color: var(--purple-text);
}

.c-container {
  transition-duration: .3s;
}

.profile h2 {
  color: var(--off-white-text);
}

h3,
h4,
h5 {
  color: var(--purple-text);
}

.archive .post-link,
#post-body p {
  color: var(--off-white-text);
}

#post-list a {
  color: var(--purple-text);
}

.profile h1 {
  color: var(--purple-text);
}

a,
#title {
  color: var(--purple-text);
}

b,
strong {
  color: var(--off-white-text);
}

#post-body {
  color: var(--off-white-text);
}

.post #toc {
  background-color: var(--dark-theme-bg);
}

.home p {
  color: var(--off-white-text);
}

.fa {
  color: var(--purple-text);
}

.fa:hover {
  transition: 1s ease-out
}

.fa-github:hover {
  color: var(--white);
}

.fa-gitlab:hover {
  color: #fc6d26;
}

.fa-linkedin:hover {
  color: #0077B5;
}

.fa-twitter:hover {
  color: #1da1f2;
}

/* Mobile */

@media screen and (max-width: 540px) {
  #wrapper {
    max-width: 600px;
  }
}

@media (max-width: 700px) {
  nav.main-nav {
      padding: 20px 10px 0 0;
      background: var(--dark-theme-bg);
      margin: 0 auto;
      text-align: right;
      z-index: 100;
  }
  nav.main-nav a {
      top: 8px;
      right: 6px;
      padding: 8px 8px;
      background: var(--dark-theme-bg);
      color: var(--purple-text);
      font-size: 13px;
      line-height: 1.35;
      border-radius: 3px;
  }
}